name: publish.yml
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '**.go'
      - '**/Dockerfile*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  DOCKER_USERNAME: 'cevataykans'

jobs:
  publish_image:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        server: [ analyticsinfo, externalscaler ]
    continue-on-error: true
    timeout-minutes: 10
    permissions:
      contents: read
    name: Publish ${{ matrix.server }} Image ${{ matrix.os == 'ubuntu-latest' && 'AMD' || 'ARM' }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_BOT_ACCESS }}
      - name: Extract short SHA
        id: vars
        run: echo "sha_short=${GITHUB_SHA::7}" >> $GITHUB_ENV
      - name: Build & Publish
        run: |
          docker build -f cmd/${{ matrix.server }}/Dockerfile \
          -t ${{ env.DOCKER_USERNAME }}/${{ matrix.server }}:latest \
          -t ${{ env.DOCKER_USERNAME }}/${{ matrix.server }}:${{ env.sha_short }} \
          --platform ${{ matrix.os == 'ubuntu-latest' && 'linux/amd64' || 'linux/arm64' }} \
          --target release .
          docker push ${{ env.DOCKER_USERNAME }}/${{ matrix.server }}:latest
          docker push ${{ env.DOCKER_USERNAME }}/${{ matrix.server }}:${{ env.sha_short }}
